@import url(fonts.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$main-color: #33319B;
$text-color: #444444;
$text-color2: #8A8A8A;


.container {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

header {

    .top__bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        width: 100%;
        right: 0;
        top: 0;
        z-index: 3;
        background: white;


        @media (max-width: 1438px) {
            margin-left: 20px;
            margin-right: 20px;
        }

        &-adress {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1190px) {
                display: none;
            }

            >a {
                text-decoration: none;

                i {
                    color: $text-color;
                    font-size: 30px;
                    width: 50px;
                    height: 50px;
                    border: none;
                    border-right: 2px solid #CE0164;
                    padding-right: 30px;
                    margin-right: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            >p {
                color: $text-color;
                font-family: mont;
                font-size: 20px;
                font-weight: 400;
            }
        }

        &-contact {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1190px) {
                display: none;
            }

            >a {
                text-decoration: none;

                i {
                    width: 50px;
                    height: 50px;
                    color: $text-color;
                    font-size: 30px;
                    border-right: 2px solid #CE0164;
                    padding-right: 30px;
                    margin-right: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            &-number {
                h4 {
                    >a {
                        text-decoration: none;
                        color: $text-color2;
                        font-family: mont;
                        font-size: 25px;
                        font-weight: 500;

                        @media (max-width: 1212px) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        &-btn {
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width: 400px) {
                display: none;
            }

            >button {
                color: #CE0164;
                background: $text-color;
                padding: 5px 10px;
                font-family: mont;
                font-size: 18px;
                font-weight: 500;
                border-radius: 10px 0px 0px 10px;
                border: none;
                transition: all .2s linear;

                &:hover {
                    cursor: pointer;
                    background: #CE0164;
                    color: white;
                    border-radius: 10px;
                }
            }

            >button:nth-of-type(2) {
                border-radius: 0px 10px 10px 0px;

                &:hover {
                    cursor: pointer;
                    background: #CE0164;
                    color: white;
                    border-radius: 10px;
                }
            }
        }

        .burger {
            display: none;
            cursor: pointer;
            border: none;

            @media (max-width:906px) {
                display: block;
            }

            .bar {
                display: block;
                width: 25px;
                height: 3px;
                margin: 5px auto;
                -webkit-transition: all .3s ease-in-out;
                transition: all .3s ease-in-out;
                background: rgb(0, 0, 0);
            }

            &.active {
                .bar:nth-child(2) {
                    opacity: 0;
                }

                .bar:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }

                .bar:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }

    nav {
        position: relative;
        top: 80px;

        .nav__conetent {
            display: flex;
            justify-content: end;
            margin-top: 60px;

            .nav__img {
                position: absolute;
                width: 800px;
                left: -100px;
                top: -60px;
                z-index: -1;

                @media (max-width: 692px) {
                    width: 100%;
                }

                @media (max-width: 536px) {
                    left: 0;
                }
            }

            // @media (max-width: 1420px) {
            //     margin-left: 20px;
            //     margin-right: 20px;
            // }

            @media (max-width: 906px) {
                justify-content: center;
            }

            .nav__list {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 60px;
                position: fixed;
                z-index: 2;

                @media (max-width: 906px) {
                    position: fixed;
                    right: -100%;
                    flex-direction: column;
                    background: $main-color;
                    top: 113px;
                    text-align: center;
                    transition: .3s linear;
                    padding-top: 50px;
                    z-index: 2;
                    width: 100%;
                    padding-bottom: 50px;
                    height: 100%;

                    &.active {
                        right: 0;
                    }
                }

                li {
                    list-style: none;

                    >a {
                        color: $text-color2;
                        font-family: 'mont';
                        font-size: 16px;
                        font-weight: 500;
                        text-decoration: none;

                        @media (max-width: 906px) {
                            color: white;
                        }
                    }
                }
            }


            .nav-adress {
                display: none;

                @media (max-width: 906px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }

                >a {
                    text-decoration: none;

                    i {
                        color: $text-color;
                        font-size: 30px;
                        width: 50px;
                        height: 50px;
                        border: none;
                        border-right: 2px solid #CE0164;
                        padding-right: 30px;
                        margin-right: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        @media (max-width: 906px) {
                            border: none;
                            padding: 0;
                            margin-bottom: 20px;
                            margin-right: 0;
                            color: white;
                        }
                    }
                }

                >p {
                    color: $text-color;
                    font-family: mont;
                    font-size: 20px;
                    font-weight: 400;

                    @media (max-width: 906px) {
                        color: white;
                    }
                }
            }

            .nav-contact {
                display: none;

                @media (max-width: 906px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }

                >a {
                    text-decoration: none;

                    i {
                        width: 50px;
                        height: 50px;
                        color: $text-color;
                        font-size: 30px;
                        border-right: 2px solid #CE0164;
                        padding-right: 30px;
                        margin-right: 20px;
                        display: flex;
                        justify-content: center;
                        align-items: center;


                        @media (max-width: 906px) {
                            border: none;
                            padding: 0;
                            margin-bottom: 20px;
                            margin-right: 0;
                            color: white;
                        }
                    }
                }

                &-number {
                    h4 {
                        >a {
                            text-decoration: none;
                            color: $text-color2;
                            font-family: mont;
                            font-size: 25px;
                            font-weight: 500;

                            @media (max-width: 1212px) {
                                font-size: 20px;
                            }

                            @media (max-width: 906px) {
                                color: white;
                            }

                        }
                    }
                }
            }
        }
    }

    nav.sticky {
        // header {
        //     background: white;
        //     box-shadow: 0px 0px 10px black;
        // }
        top: 70px;
    }
}

main {
    .travel {
        margin-top: 150px;

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1438px) {
                margin-left: 20px;
                margin-right: 20px;
            }

            @media (max-width: 974px) {
                flex-direction: column-reverse;
            }

            .travel__info {

                @media (max-width: 974px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    margin-top: 50px;
                }

                h1 {
                    color: $text-color;
                    font-family: 'mont';
                    font-size: 50px;
                    font-weight: 700;

                    @media (max-width: 1100px) {
                        font-size: 40px;
                    }

                    @media (max-width: 974px) {
                        text-align: center;
                    }

                    @media (max-width: 522px) {
                        font-size: 35px;
                    }
                }

                p {
                    color: $text-color2;
                    font-family: 'mont';
                    font-size: 20px;
                    font-weight: 500;
                    margin-top: 30px;

                    @media (max-width: 974px) {
                        text-align: center;
                    }
                }

                button {
                    background: $main-color;
                    color: white;
                    font-family: 'mont';
                    font-size: 20px;
                    font-weight: 500;
                    padding: 15px 25px;
                    border: none;
                    border-radius: 5px;
                    transition: all .2s linear;
                    margin-top: 40px;

                    @media (max-width: 354px) {
                        font-size: 16px;
                    }

                    &:hover {
                        background: white;
                        color: $main-color;
                        border: 2px solid $main-color;
                        box-shadow: 0px 0px 10px $main-color;
                        cursor: pointer;
                    }
                }
            }

            .travel__block {
                >img {
                    width: 545px;
                    height: 500px;

                    @media (max-width: 570px) {
                        width: 100%;
                        height: auto !important;
                    }
                }
            }
        }
    }

    .about {
        position: relative;
        margin-top: 150px;

        .about__box-bg {
            display: flex;
            justify-content: center;
            align-items: center;

            .about__bg {
                position: absolute;
                z-index: -1;
                top: -100px;

                @media (max-width: 1042px) {
                    width: 100%;
                }
            }
        }

        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width: 1322px) {
                margin-left: 20px;
                margin-right: 20px;
            }

            @media (max-width: 1108px) {
                flex-direction: column;
            }

            .about__block {
                >img {
                    width: 600px;
                    height: 600px;

                    @media (max-width: 612px) {
                        width: 100%;
                        height: auto;
                    }
                }
            }

            .about__info {

                @media (max-width: 1108px) {
                    margin-top: 50px;
                }

                >h4 {
                    color: #CE0164;
                    font-family: 'mont';
                    font-size: 25px;
                    font-weight: 500;

                    @media (max-width: 394px) {
                        text-align: center;
                    }
                }

                h2 {
                    color: $text-color;
                    font-family: 'mont';
                    font-size: 40px;
                    font-weight: 700;

                    @media (max-width: 422px) {
                        font-size: 30px;
                        margin-top: 15px;
                    }

                    @media (max-width: 394px) {
                        text-align: center;
                    }

                    @media (max-width: 346px) {
                        font-size: 25px;
                    }
                }

                p {
                    color: $text-color2;
                    font-family: 'mont';
                    font-size: 20px;
                    font-weight: 400;
                    margin-top: 25px;
                    margin-bottom: 20px;

                    @media (max-width: 512px) {
                        font-size: 18px;
                    }

                    @media (max-width: 394px) {
                        text-align: center;
                    }
                }

                .about__services {
                    h3 {
                        color: $text-color;
                        font-family: 'mont';
                        font-size: 18px;
                        font-weight: 500;
                        display: flex;
                        margin-top: 15px;


                        >i {
                            margin-right: 20px;
                            font-size: 20px;
                        }
                    }
                }

                .about__box {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 30px;

                    @media (max-width: 488px) {
                        flex-direction: column;
                        align-items: flex-start;
                    }

                    @media (max-width: 394px) {
                        align-items: center;
                    }

                    &-price {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        @media (max-width: 488px) {
                            align-items: flex-start;
                            margin-top: 30px;
                        }

                        @media (max-width: 394px) {
                            align-items: center;
                        }

                        >h5 {
                            color: #CE0164;
                            font-family: 'mont';
                            font-size: 35px;
                            font-weight: 700;
                            margin-bottom: 15px;

                            @media (max-width: 400px) {
                                font-size: 25px;
                            }
                        }

                        >h4 {
                            color: $text-color;
                            font-family: 'mont';
                            font-size: 25px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }


    }

    .tours {
        margin-top: 100px;

        &__content {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
            place-items: center;
            gap: 30px;

            @media (max-width: 1426px) {
                margin-left: 20px;
                margin-right: 20px;
            }

            @media (max-width: 368px) {
                grid-template-columns: repeat(auto-fit, minmax(280px, 2fr));
            }

            >div {
                width: 320px;
                height: 500px;
                background: white;
                box-shadow: 0px 4px 20px 0px #00000040;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 25px;

                @media (max-width: 368px) {
                    width: 250px;
                }

                .tours__box {
                    >img {
                        width: 280px;
                        height: 200px;
                        border-radius: 10px;

                        @media (max-width: 368px) {
                            width: 230px;
                            height: auto;
                        }
                    }
                }

                .tours__info {
                    >h4 {
                        color: #CE0164;
                        font-family: 'mont';
                        font-size: 25px;
                        font-weight: 500;
                        margin-bottom: 30px;
                    }

                    >p {
                        color: $text-color2;
                        font-family: 'mont';
                        font-size: 18px;
                        font-weight: 400;
                        margin-bottom: 25px;
                    }

                    >div {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid $text-color2;
                        padding-bottom: 20px;

                        >h4 {
                            color: black;
                            font-family: 'mont';
                            font-size: 25px;
                            font-weight: 500;

                            >span {
                                color: #CE0164;
                            }

                            @media (max-width: 368px) {
                                font-size: 20px;
                            }
                        }

                        >h3 {
                            color: black;
                            font-family: 'mont';
                            font-size: 20px;
                            font-weight: 500;

                            @media (max-width: 368px) {
                                font-size: 18px;
                            }
                        }
                    }

                    button {
                        width: 140px;
                        height: 40px;
                        color: white;
                        background: $main-color;
                        font-family: 'mont';
                        font-size: 18px;
                        font-weight: 500;
                        margin-top: 15px;
                        border: none;
                        border-radius: 10px;
                        transition: all .2s linear;

                        &:hover {
                            color: $main-color;
                            background: white;
                            border: 2px solid $main-color;
                            box-shadow: 0px 0px 10px $main-color;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}